body{
    font-family:"Avenir Next";
    background-color:#aaa;
}

li{
    list-style: none;
}

.aaa{
    width: 900px;
    margin: 20px auto 20px auto;
}

.menu{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 150px;
    float: left;
    
}

.main{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 550px;
    float:right;

}

.main-top{
    background-color: #fff;
    height: 350px;
    border-bottom: 3px solid #000;
}

.main-icon{
    height: 100px;
    float: left;
    border: 1px solid #000;
}

.main-name{
    color: #000;
    float: center;
    margin: 20px;
}

span{
    color: #ee0;
}

.main-button{
    margin: 20px;
    float: right;
    width:85px;
    background-color: #3df;
    border-radius: 5px solid #000;
}

.main-mid{
    height: 270px;
    border-bottom: 1px solid #000;
}

.contents-item{
    margin: 5px;
    float: left;
    height: 220px;
}

.main-bott{
    color: #000;
}
