body{
    font-family:"Avenir Next";
    background-color:#aaa;
}

.menu ul{
    padding-left: 0px;
    list-style: none;
}

.aaa{
    width: 550px;
    margin: 20px auto 20px auto;
}


.main{
    background-color: #fff;
    border-radius: 8px;
    padding: 15px;
    width: 550px;

}

.main-top{
    background-color: #fff;
    height: 350px;
    border-bottom: 3px solid #000;
}

.main-icon{
    height: 100px;
    float: left;
    border: 1px solid #000;
}

.main-name{
    color: #000;
    float: center;
    margin: 20px;
}

span{
    color: #ea0;
}

.main-button{
    margin: 0px 20px;
    float: right;
    width:85px;
    background-color: #adf;
    border-radius: 5px solid #000;
}

.main-mid{
    height: 270px;
    border-bottom: 1px solid #000;
}

.contents-item{
    margin: 10px 3px;
    float: left;
    height: 250px;
}

.main-bott h1{
    font-size: 20px;
    color: #000;
}

.main-bott p{
    font-size: 30px;
    color: #000;
    float: left;
    }

.main-bott ul{
    float: left;
    }

